body {background-color: #f1ddf1
}

h1 {
    text-align:center;
    color: #7a027a;
    font-size: xxx-large;
    padding: 35px;
}

.l_ul li{
    padding-right: 10px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.table {
    display: table;
    margin: 0 auto;
}

.l_ul li a{
    display:block;
}



.button {
    border: none;
    color: #7a027a;
    padding: 15px 32px;
    text-align: center;
    font-size: large;
    background-color: #f1ddf1;
}

.tr {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}